{% include  'top.html' %}
<section>
<br />
<div align="center">
<h1> 게시판 상세 보기 </h1>
<form method="post" >
 {% csrf_token %}

<table border="1">
 <tr><td> 제 목 </td>
     <td><input  type="text" name="title"  value="{{board.title}}"> </td></tr>
 <tr><td> 내 용 </td>
 <td><textarea cols="50" rows="5" name="content">
{{board.content}}
</textarea> 
</td></tr>
 <tr><td colspan="2" align="center">
     <input  type="submit" value="수정하기"> </td></tr>
</table>
</form>
<hr>
  <a href="{% url 'board_form' %}" >저장하기</a> &emsp;
  <a href="{% url 'board_list' %}" >목록보기</a> &emsp;
  <a href="{% url 'board_delete' board.pk %}" > 삭제하기 </a>
</div>
<br />
</section>
{% include  'bottom.html' %}